
.body {
  background-color: black;
}

.container {
  text-align: center;
  opacity: 0.75;
}

.form-content,.warning {
  padding-top:  30px;
}

.negative {
  color: red;
}

.btn-inverse {
  color: white;
}

.page {
  background-image: url(../assets/back-earth.jpg);
  background-size: cover;
  min-height: 100vh;
}

.fa-2x {
  vertical-align: middle;
}

.footer {
  color:white;
}
